.background {
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/2024-lamborghini-revuelto-127-641a1d518802b.jpg?crop=0.813xw:0.721xh;0.0994xw,0.128xh&resize=1200:*);
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.loginForm {
  height: 650px;
  background-color: rgba(200, 244, 244, 0.5);
}


.form {
  margin: 25%!important;
 margin-top: 50% !important;
}

.btn-sm{
  width: 100%;
}
