




<div class="container-fluid mt-5 rounded-5" style="background-image: url(../assets/—Pngtree—grass\ realistic\ green\ outdoor_8285074.png); background-repeat: no-repeat; background-size: cover; width: 100%;">
    <div class="container d-lg-flex justify-content-between align-items-center ps-lg-4">
  
     
      <img class="img" src="../assets/sssss.png"><br>
  
  
      <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap fw-bold">
        <h3 class="h2 text-dark fw-bold pb-1 from-start">Hurry up! Limited time offer.</h3>
        <h2 class="text-dark fw-bold display-5 from-start delay-1">Man Sportswear Sale</h2>
        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-dark btn-sm mt-3" href="shop-grid-ls.html">Shop
            Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
      </div>
  
    </div>
  </div>
  