.background {
  background-image: url(https://media.wired.com/photos/63b8d0a771c6b526845f15a6/16:9/w_2400,h_1350,c_limit/CES-2023-PEUGEOT_INCEPTION_CONCEPT_2301CN202.jpg);
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


.loginForm {
  height: 650px;
  background-color: rgba(200, 244, 244, 0.5);
}


.form {
  margin: 25%!important;
 margin-top: 30% !important;
}

.btn-sm{
  width: 100%;
}
