<nav class="navbar navbar-expand-lg navbar-light bg-light m-3 p-1">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">ShopseCounter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="tshirts" >T-shirts</a></li>
              <li><a class="dropdown-item" routerLink="shirts">Shirts</a></li>
              <li><a class="dropdown-item" routerLink="jeans">Jeans</a></li>
              <li><a class="dropdown-item" routerLink="sunglass">Sunglass</a></li>
              <li><a class="dropdown-item" routerLink="shoes">Shoes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Coming More Soon</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown mx-3">
            <button type="button" class="btn btn-secondary position-relative" (click)="openCart()">
              <i class="bi bi-cart"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" >
               {{ cartLength }}
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>


            
          </li>


         

            <li class="nav-item mx-3">
              <a class="nav-link " aria-current="page" routerLink="login">{{ userName? userName : 'Login' }}</a>
            </li>

            <li class="nav-item mx-3" *ngIf="userName">
              <a class="nav-link " aria-current="page" (click)="logout()"  style=" cursor:pointer;">Logout</a>
            </li>

        </ul>

        
       
      
        <form class="d-flex">


          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>



      </div>
    </div>

  </nav>
  
