<app-up-banner></app-up-banner>

<div class="container mt-5">
  <h3 class="text-center">Latest Products</h3>
 <hr class="text-danger">
  <div class="row d-flex justify-content-center">

    <!-- {{ items.description }} -->
    <div class="col-3 card col-sm-3 border-0 shadow-lg m-4 rounded-start" style="height: 500px !important;"
      *ngFor="let items of itemList" >
      <img src="{{ items.image }}"
        class="card-img-top" alt="..." style="height:50%">
      <div class="card-body" >
        <div class="title">

          <h5 class="card-title" style="height: 10%;">{{ items.title }}</h5>
        </div>
        <div class="dsc" style="height: 10%;">

          <p class="card-text" >
          </p>
        </div>
        <div class="col-12 btn " style="height: 10%; margin-top: 15%;">

          <button class="btn btn-dark btn-sm" type="button" style="width: 100%; ">Add to cart</button>
        </div>
      </div>
    </div>


  </div>
</div>




<app-down-banner></app-down-banner>
