<div class="container">
    <div class="row">
      <div class="heading text-center">
        <h2>Add Product</h2>
      </div>
  
      <div class="sellerForm">
        <form [formGroup]="addProduct" >
  <div class="row d-flex justify-content-center">
  
      <div class="col-8">
          <div class="form-group mt-4 mb-2">
              <input type="text" formControlName="item_name" class="form-control" placeholder="Item name" >
          </div>

          <div class="form-group  mt-3 mb-2">
            <select formControlName="item_category" class="form-select" aria-label="Item category" >
              <option [selected]="true" disabled >Select item category</option>
              <option value="Jeans">Jeans</option>
              <option value="T-shirt">T-shirt</option>
              <option value="Shirts">Shirts</option>
              <option value="Shoes">Shoes</option>
              <option value="Sunglasses">Sunglasses</option>
              </select>
        </div>

  
          <div class="form-group  mt-3 mb-2">
              <input type="text" formControlName="item_price" class="form-control"  placeholder="Item price" >
          </div>

          <div class="form-group  mt-3 mb-2">
            <input type="text" formControlName="item_dsc" class="form-control"  placeholder="Item description" >
        </div>

        <div class="form-group  mt-3 mb-2">
            <input type="text" formControlName="item_discount" class="form-control"  placeholder="Item discount"  >
        </div>

        <div class="form-group  mt-3 mb-2">
            <input type="text" formControlName="item_qty" class="form-control"  placeholder="Item quantity" >
        </div>

        <div class="form-group  mt-3 mb-2">
            <input type="file" formControlName="item_image" class="form-control" (change)="onSelectFile($event)" >
        </div>
  
  
          <div class="form-group  mt-3 mb-2">
              <input type="button" class="btn btn-danger" value="Add Product" (click)="addProducts(addProduct.value)" >
          </div>
      </div>
     
  
          </div>
      </form>
      </div>
    </div>
  </div>
  