

<div class="container-fluid rounded-5" style="background-color: rgb(58, 175, 210); ">
    <div class="container-fluid d-lg-flex justify-content-between align-items-center ps-lg-4">
  
      <img class="img-fluid imgBanner" src="../assets/272339135_156068030104483_3444511573219910100_n-removebg-preview.png"><br>
  
      <div class="pb-lg-5 mb-lg-5 text-center text-lg-start text-lg-nowrap fw-bold mt-5">
        <h3 class="h2 text-light fw-bold pb-1 from-start">Has just arrived!</h3>
        <h2 class="text-light fw-bold display-5 from-start delay-1">Huge Summer Collection</h2>
        <p class="fs-lg text-light pb-3 from-start delay-2">T-shirts, Jeans, Sunglasses &amp; much more...</p>
        <div class="d-table scale-up delay-4 mx-auto mx-lg-0"><a class="btn btn-danger btn-sm" href="shop-grid-ls.html">Shop
            Now<i class="ci-arrow-right ms-2 me-n1"></i></a></div>
      </div>
    </div>
  </div>